.html_mode {
    transform: rotateX(180deg);
    a {
        color: #ddd;
    }
}

.mark_down_editor {
    top: -100%;
}
// @keyframes flip {
//     from {
//         transform: rotateX(0deg);
//     }

//     to {
//         transform: rotateX(180deg);
//     }
// }
